result.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:rax="http://docs.rackspace.com/api">
   <wadl:grammars xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:meta="http://docs.rackspace.com/metadata/api"
                  xmlns:map="http://www.w3.org/2005/xpath-functions/map">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              elementFormDefault="qualified"
              attributeFormDefault="unqualified"
              targetNamespace="http://docs.rackspace.com/metadata/api"><!--Type for pattern billing:-->
         <xs:simpleType name="d1e16">
            <xs:restriction base="xs:string">
               <xs:pattern value="billing:.*"/>
            </xs:restriction>
         </xs:simpleType>
         <!--Type for pattern service:-->
         <xs:simpleType name="d1e18">
            <xs:restriction base="xs:string">
               <xs:pattern value="service:.*"/>
            </xs:restriction>
         </xs:simpleType>
         <!--Type for pattern |||:-->
         <xs:simpleType name="d1e42">
            <xs:restriction base="xs:string">
               <xs:pattern value="\|\|\|:.*"/>
            </xs:restriction>
         </xs:simpleType>
         <!--Type for pattern ap'o's:-->
         <xs:simpleType name="d1e46">
            <xs:restriction base="xs:string">
               <xs:pattern value="ap'o's:.*"/>
            </xs:restriction>
         </xs:simpleType>
         <!--Type for pattern quo"t"e:-->
         <xs:simpleType name="d1e49">
            <xs:restriction base="xs:string">
               <xs:pattern value="quo&#34;t&#34;e:.*"/>
            </xs:restriction>
         </xs:simpleType>
         <!--Type for pattern customer:role:-->
         <xs:simpleType name="d1e31">
            <xs:restriction base="xs:string">
               <xs:pattern value="customer:role:.*"/>
            </xs:restriction>
         </xs:simpleType>
      </schema>
   </wadl:grammars>
   
    <resources base="https://resource.api.rackspace.com">
        <resource id="mine" path="myResource">
         <resource xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:wadl="http://wadl.dev.java.net/2009/02"
                   xmlns:meta="http://docs.rackspace.com/metadata/api"
                   xmlns:map="http://www.w3.org/2005/xpath-functions/map"
                   id="standard_RAX_META_TYPE"
                   path="metadata">
            <method name="GET" id="getResourceMetadata_standard_RAX_META_TYPE">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Show resource metadata for standard_RAX_META_TYPE"/>
               <response status="200 203"/>
            </method>
            <method name="PUT"
                    id="setResourceMetadata_standard_RAX_META_TYPE"
                    rax:roles="admin">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Create or update resource metadata for standard_RAX_META_TYPE"/>
               <request>
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </request>
               <response status="200">
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </response>
            </method>
            <method name="PUT" id="setResourceMetadata_standard_RAX_META_TYPE_NA">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Create or update resource metadata for standard_RAX_META_TYPE"/>
               <request>
                  <representation mediaType="application/json">
                     <rax:assert message="The message must contain metadata items"
                                 code="400"
                                 test="not(empty(map:keys($_?metadata)))"/>
                     <rax:assert message="You are not allowed to set metadata items of this type"
                                 code="403"
                                 test="let $roleToPattern := map { 'billing:role' : ('billing:') ,'service:role' : ('service:') }, $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)), $metaItems := for $k in map:keys($_?metadata) return string($k), $matchItems := distinct-values(for $meta in $metaItems return for $pattern in $allowedPatterns return if (starts-with($meta, $pattern)) then $meta else ()) return count($matchItems) = count($metaItems)"><!--
                let $roleToPattern := map {
                 'billing:role'  : ( 'billing:' )
                     , 'service:role'  : ( 'service:' )
                     
                },
                $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)),
                $metaItems  := for $k in  map:keys($_?metadata)  return string($k),
                $matchItems := distinct-values(for $meta in $metaItems return
                for $pattern in $allowedPatterns return
                if (starts-with($meta, $pattern)) then $meta else ())
                return count($matchItems) = count($metaItems)
            --></rax:assert>
                  </representation>
                  <representation mediaType="application/xml" element="meta:metadata">
                     <rax:assert message="The message must contain metadata items"
                                 code="400"
                                 test="not(empty(/meta:metadata/meta:meta/@key))"/>
                     <rax:assert message="You are not allowed to set metadata items of this type"
                                 code="403"
                                 test="let $roleToPattern := map { 'billing:role' : ('billing:') ,'service:role' : ('service:') }, $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)), $metaItems := for $k in /meta:metadata/meta:meta/@key return string($k), $matchItems := distinct-values(for $meta in $metaItems return for $pattern in $allowedPatterns return if (starts-with($meta, $pattern)) then $meta else ()) return count($matchItems) = count($metaItems)"><!--
                let $roleToPattern := map {
                 'billing:role'  : ( 'billing:' )
                     , 'service:role'  : ( 'service:' )
                     
                },
                $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)),
                $metaItems  := for $k in  /meta:metadata/meta:meta/@key  return string($k),
                $matchItems := distinct-values(for $meta in $metaItems return
                for $pattern in $allowedPatterns return
                if (starts-with($meta, $pattern)) then $meta else ())
                return count($matchItems) = count($metaItems)
            --></rax:assert>
                  </representation>
               </request>
               <response status="200">
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </response>
            </method>
            <method name="DELETE"
                    id="deleteResourceMetadata_standard_RAX_META_TYPE"
                    rax:roles="admin">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Delete resource metadata for standard_RAX_META_TYPE"/>
               <response status="204"/>
            </method>
            <resource id="key_standard_RAX_META_TYPE_d1e5"
                      path="{key_standard_RAX_META_TYPE_d1e5}">
               <param name="key_standard_RAX_META_TYPE_d1e5"
                      style="template"
                      type="xs:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for standard_RAX_META_TYPE_d1e5</para>
                  </wadl:doc>
               </param>
               <method name="GET" id="getResourceMetadataItem_standard_RAX_META_TYPE_d1e5">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Show resource metadata item details for standard_RAX_META_TYPE_d1e5"/>
                  <response status="200 203">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="PUT"
                       id="setResourceMetadataItem_standard_RAX_META_TYPE_d1e5"
                       rax:roles="admin">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for standard_RAX_META_TYPE_d1e5"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_standard_RAX_META_TYPE_d1e5"
                       rax:roles="admin">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for standard_RAX_META_TYPE_d1e5"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e16_d1e16" path="{key_d1e16_d1e16}">
               <param name="key_d1e16_d1e16" style="template" type="meta:d1e16">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e16_d1e16</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e16_d1e16"
                       rax:roles="billing:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e16_d1e16"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e16_d1e16"
                       rax:roles="billing:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e16_d1e16"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e18_d1e18" path="{key_d1e18_d1e18}">
               <param name="key_d1e18_d1e18" style="template" type="meta:d1e18">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e18_d1e18</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e18_d1e18"
                       rax:roles="service:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e18_d1e18"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e18_d1e18"
                       rax:roles="service:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e18_d1e18"/>
                  <response status="204"/>
               </method>
            </resource>
         </resource>
      </resource>
        <resource id="other" path="otherResource">
         <resource xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:wadl="http://wadl.dev.java.net/2009/02"
                   xmlns:meta="http://docs.rackspace.com/metadata/api"
                   xmlns:map="http://www.w3.org/2005/xpath-functions/map"
                   id="other_RAX_META_TYPE"
                   path="metadata">
            <method name="GET" id="getResourceMetadata_other_RAX_META_TYPE">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Show resource metadata for other_RAX_META_TYPE"/>
               <response status="200 203"/>
            </method>
            <method name="PUT"
                    id="setResourceMetadata_other_RAX_META_TYPE"
                    rax:roles="admin superAdmin">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Create or update resource metadata for other_RAX_META_TYPE"/>
               <request>
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </request>
               <response status="200">
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </response>
            </method>
            <method name="PUT" id="setResourceMetadata_other_RAX_META_TYPE_NA">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Create or update resource metadata for other_RAX_META_TYPE"/>
               <request>
                  <representation mediaType="application/json">
                     <rax:assert message="The message must contain metadata items"
                                 code="400"
                                 test="not(empty(map:keys($_?metadata)))"/>
                     <rax:assert message="You are not allowed to set metadata items of this type"
                                 code="403"
                                 test="let $roleToPattern := map { 'customer:role' : ('customer:role:') ,'service:role' : ('service:') ,'another_role' : ('service:') ,'???' : ('|||:') ,'customer:quote' : ('ap''o''s:','quo&#34;t&#34;e:') }, $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)), $metaItems := for $k in map:keys($_?metadata) return string($k), $matchItems := distinct-values(for $meta in $metaItems return for $pattern in $allowedPatterns return if (starts-with($meta, $pattern)) then $meta else ()) return count($matchItems) = count($metaItems)"><!--
                let $roleToPattern := map {
                 'customer:role'  : ( 'customer:role:' )
                     , 'service:role'  : ( 'service:' )
                     , 'another_role'  : ( 'service:' )
                     , '???'  : ( '|||:' )
                     , 'customer:quote'  : ( 'ap''o''s:','quo"t"e:' )
                     
                },
                $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)),
                $metaItems  := for $k in  map:keys($_?metadata)  return string($k),
                $matchItems := distinct-values(for $meta in $metaItems return
                for $pattern in $allowedPatterns return
                if (starts-with($meta, $pattern)) then $meta else ())
                return count($matchItems) = count($metaItems)
            --></rax:assert>
                  </representation>
                  <representation mediaType="application/xml" element="meta:metadata">
                     <rax:assert message="The message must contain metadata items"
                                 code="400"
                                 test="not(empty(/meta:metadata/meta:meta/@key))"/>
                     <rax:assert message="You are not allowed to set metadata items of this type"
                                 code="403"
                                 test="let $roleToPattern := map { 'customer:role' : ('customer:role:') ,'service:role' : ('service:') ,'another_role' : ('service:') ,'???' : ('|||:') ,'customer:quote' : ('ap''o''s:','quo&#34;t&#34;e:') }, $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)), $metaItems := for $k in /meta:metadata/meta:meta/@key return string($k), $matchItems := distinct-values(for $meta in $metaItems return for $pattern in $allowedPatterns return if (starts-with($meta, $pattern)) then $meta else ()) return count($matchItems) = count($metaItems)"><!--
                let $roleToPattern := map {
                 'customer:role'  : ( 'customer:role:' )
                     , 'service:role'  : ( 'service:' )
                     , 'another_role'  : ( 'service:' )
                     , '???'  : ( '|||:' )
                     , 'customer:quote'  : ( 'ap''o''s:','quo"t"e:' )
                     
                },
                $allowedPatterns := distinct-values(for $role in req:headers('x-roles', true()) return $roleToPattern($role)),
                $metaItems  := for $k in  /meta:metadata/meta:meta/@key  return string($k),
                $matchItems := distinct-values(for $meta in $metaItems return
                for $pattern in $allowedPatterns return
                if (starts-with($meta, $pattern)) then $meta else ())
                return count($matchItems) = count($metaItems)
            --></rax:assert>
                  </representation>
               </request>
               <response status="200">
                  <representation mediaType="application/json"/>
                  <representation mediaType="application/xml" element="meta:metadata"/>
               </response>
            </method>
            <method name="DELETE"
                    id="deleteResourceMetadata_other_RAX_META_TYPE"
                    rax:roles="admin superAdmin">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                         xml:lang="EN"
                         title="Delete resource metadata for other_RAX_META_TYPE"/>
               <response status="204"/>
            </method>
            <resource id="key_other_RAX_META_TYPE_d1e7" path="{key_other_RAX_META_TYPE_d1e7}">
               <param name="key_other_RAX_META_TYPE_d1e7"
                      style="template"
                      type="xs:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for other_RAX_META_TYPE_d1e7</para>
                  </wadl:doc>
               </param>
               <method name="GET" id="getResourceMetadataItem_other_RAX_META_TYPE_d1e7">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Show resource metadata item details for other_RAX_META_TYPE_d1e7"/>
                  <response status="200 203">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="PUT"
                       id="setResourceMetadataItem_other_RAX_META_TYPE_d1e7"
                       rax:roles="admin superAdmin">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for other_RAX_META_TYPE_d1e7"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_other_RAX_META_TYPE_d1e7"
                       rax:roles="admin superAdmin">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for other_RAX_META_TYPE_d1e7"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e18_d1e36" path="{key_d1e18_d1e36}">
               <param name="key_d1e18_d1e36" style="template" type="meta:d1e18">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e18_d1e36</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e18_d1e36"
                       rax:roles="service:role another_role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e18_d1e36"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e18_d1e36"
                       rax:roles="service:role another_role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e18_d1e36"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e42_d1e42" path="{key_d1e42_d1e42}">
               <param name="key_d1e42_d1e42" style="template" type="meta:d1e42">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e42_d1e42</para>
                  </wadl:doc>
               </param>
               <method name="PUT" id="setResourceMetadataItem_d1e42_d1e42" rax:roles="???">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e42_d1e42"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e42_d1e42"
                       rax:roles="???">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e42_d1e42"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e46_d1e46" path="{key_d1e46_d1e46}">
               <param name="key_d1e46_d1e46" style="template" type="meta:d1e46">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e46_d1e46</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e46_d1e46"
                       rax:roles="customer:quote">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e46_d1e46"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e46_d1e46"
                       rax:roles="customer:quote">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e46_d1e46"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e49_d1e49" path="{key_d1e49_d1e49}">
               <param name="key_d1e49_d1e49" style="template" type="meta:d1e49">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e49_d1e49</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e49_d1e49"
                       rax:roles="customer:quote">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e49_d1e49"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e49_d1e49"
                       rax:roles="customer:quote">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e49_d1e49"/>
                  <response status="204"/>
               </method>
            </resource>
            <resource id="key_d1e31_d1e31" path="{key_d1e31_d1e31}">
               <param name="key_d1e31_d1e31" style="template" type="meta:d1e31">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>A unique identifier for metadata item for d1e31_d1e31</para>
                  </wadl:doc>
               </param>
               <method name="PUT"
                       id="setResourceMetadataItem_d1e31_d1e31"
                       rax:roles="customer:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create or update resource metadata item for d1e31_d1e31"/>
                  <request>
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </request>
                  <response status="200">
                     <representation mediaType="application/json"/>
                     <representation mediaType="application/xml" element="meta:meta"/>
                  </response>
               </method>
               <method name="DELETE"
                       id="deleteResourceMetadataItem_d1e31_d1e31"
                       rax:roles="customer:role">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Delete resource metadata item for d1e31_d1e31"/>
                  <response status="204"/>
               </method>
            </resource>
         </resource>
      </resource>
    </resources>
    
    
    
</application>
